.overlay {
  position: fixed;
  inset: 0;
  z-index: 9001;
  opacity: 0.6;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-header,
    .navbar {
        box-sizing: border-box;
        display: flex;
        
        width: 100%;
        background-color: #000000;
        color: #ffffff;
        a {
            padding-right: 1.5em;
            color: #ffffff;
            text-decoration: none;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0em 24rem;
        font-size: 0.7rem;
        height: 4.5em;

        .language-selector {
            display: flex;
            align-items: center;
            gap: 0.5em;
            flex-direction: row;
        }

        .language-selector-icon{
            width: 2em;
            height: 2em;
            border-radius: 50%;
            cursor: pointer;
        }
        
    }
}

.mid-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    height: 3.8em;
    padding: 0em 7rem;

    background-color: #FCCA1B;
    width: 100%;
    font-size: 0.8rem;

    i {
        font-size: 1.1rem;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.5em;
    padding: 0em 25rem;

    a {
        font-size: 1.2rem;
    }

    img {
        width: 5.1em;
        height: 5.1em;
    }

    input {
        width: 20em;
        height: 3em;
        border: none;
        padding: 0.5em;
        font-size: 0.8rem;
        border-radius: 0.5em;
        outline: none;
    }

    i {
        font-size: 1.7rem;
        cursor: pointer;
    }
}

.hero-container {
    background-image: url('src/assets/images/orksvsmarines.jpg');
    background-size: cover;
    repeat: no-repeat;
    margin: 0 19.6em;
    height: 55em;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0em 3em 4em 5.5em;

    .hero-overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        z-index: 1;
    }

    .hero-content {
        position: relative;
        z-index: 2;
    }

    img {
        width: 15em;
    }

    h1 {
        font-family: 'Impact', sans-serif;
        font-weight: normal;
        font-size: 5rem;
        color: #ffffff;
        margin-top: 0.5em;
    }

    p {
        font-size: 1.2rem;
        color: #ffffff;
        margin-top: 0.5em;
    }

    button {
        width: 13em;
        height: 3.9em;
        background-color: #FCCA1B;
        border: none;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 2em;
        margin-top: 3em;
    }

    .hero-down-arrow {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        margin-right: 2em;
        background-color: #FCCA1B;
        color: #000000;

        width: 2em;
        height: 2em;
        border-radius: 50%;

        cursor: pointer;
    }
}